@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1200px;
    /* 2xl - 1536 */
}

* {
    font-family: "Poppins", sans-serif;
}


.bgTheme {
    /* -26 Derece Tasarımı Karşılamadığı İçin Düzenlendi */
    background: linear-gradient(155deg, #FEFEFE 0%, #F9F9F9 13%, #F3F3F3 33%, #E5E5E5 100%);
}


/* Dark Tema Stilleri */
html.dark .bgTheme {
    background: linear-gradient(155deg, #373737 0%, #252628 23%, #000309 100%);
}